@import '../core/index.scss';

.brands {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 87px;

    &__title {
        margin-top: 30px;
        margin-bottom: 87px;
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__figure {
        width: 20%;
        height: 140px;
        position: relative;

        @include media-md {
            width: 50%;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }    
}
