@import "../core/index.scss";

.case-studies-wrapper {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.case-studies-loader {
    margin: 10%;
    text-align: center;
}

.case-studies {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;

    .case-study {
        width: 30%;
    }
}

.case-study {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: $shades-800;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        padding: 24px;
        position: absolute;
        bottom: 0;
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 16px;
        color: $tertiary-color;
    }

    &__description {
        color: $tertiary-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

.slick-track {
    height: 500px;
}

.slick-slider {
    width: 100%;
    height: 100%;
}

.slick-slide {
    height: 400px;

    &:nth-child(even) { 
        padding-left: 20px;
        padding-right: 20px;
    }
}

.mobile-case-studies {
    display: none;

    @include media-md {
        display: block;
    }
}

.desktop-case-studies {
    display: block;

    @include media-md {
        display: none;
    }
}
