.hero {
    height: 600px;
    width: 100%;
    position: relative;
    padding: 0 10%;

    &__content {
        margin-top: 30%;
        position: absolute;
        bottom: 86px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        margin-bottom: 19px;
    }

    &__subtitle {
        margin-bottom: 47px;
    }
}