@import "../core/index";

.what-we-do {
    margin: 0 10%;
    margin-top: 84px;
    margin-bottom: 50px;

    &__title {
        margin-top: 46px;
        margin-bottom: 54px;
        margin-left: 0;
        margin-right: 0;
    }

    &__services {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .service-info {
            padding-right: 40px;
            width: 25%;
            margin-bottom: 50px;

            @include media-lg {
                width: 50%;
            }

            @include media-md {
                width: 100%;
            }
        }
    }
}